<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add Favorite User</title>
</head>
<body>
    <div class="container">
        <div class="container d-flex justify-content-around align-items-center h-100">
        <h2>Add Favorite User</h2>
        </div>
     <div class="form-group flex-column " >
    <form action="#" method="post">
        <label for="userIPN">IPN:</label><br>
        <input type="text" class="form-control" id="userIPN" name="userIPN" required><br><br>
        <label for="userName">Name:</label><br>
    </div>
        <input type="text" class="form-control" id="userName" name="userName" required><br><br>
        <div class="form-group d-flex flex-column">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>

</div>
</body>
</html>