<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bank account</title>
</head>
<body>

<div class="container">
    <h2>Bank account</h2>
    <form action="#" method="post">
        <label for="accountNumber">account number</label>
        <input type="text" id="accountNumber" name="accountNumber" required>
        <label for="PIN">PIN</label>
        <input type="text" id="pin" name="pin" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <label for="username">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </form>
    <div>
        <button class="btn">Add</button>
    </div>
    <button onclick="goBack()">Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>

</body>
</html>
