<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h3>Card</h3>
            <p>ipn:00000</p>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
            <button class="btn">Check Balance</button>
        </div>
        <div class="bank-account">
            <h3>Bank Account </h3>
            <p>ipn: 00000</p>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
            <button class="btn">Check Balance</button>
        </div>
    </div>
</body>
</html>
