<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favorite Users</title>
</head>
<body>
    <div class="container">
        <div class="user">
            <h3>User1</h3>
            <p>ipn:00000</p>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
        </div>
        <div class="user">
            <h3>User2</h3>
            <p>ipn: 00000</p>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
        </div>
    </div>
    <div>
        <button class="btn">Add user</button>
    </div>
</body>
</html>
