<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>signup Page</title>
</head>
<body>

<div class="container">
    <h2>signup</h2>
    <form action="#" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="username">phone number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <label for="username">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </form>
    <div class="signup-btn">
        <button onclick="window.location.href='signup.html'">Sign Up</button>
    </div>
    <div class="login-link">
        <p>Already have an account? <a href="login.html">Log in</a>.</p>
    </div>
</div>

</body>
</html>
